.card {
  max-width: 370px;
  min-width: 300px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}
.card__image__wrapper {
  width: 100%;
  height: 55%;
  img {
    width: 100%;
    height: 100%;
  }
}
.card__text__wrapper {
  width: 100%;
  padding-top: 20px;
  p {
    line-height: 160%;
  }
}
.card__text {
  padding-top: 5px;
}
.card__buttons {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    padding-left: 25px;
  }
}
@media only screen and (max-width: 350px) {
  .card {
    min-width: 200px;
  }
}
